*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 40px 100px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4862cebc-a29e-43c8-a9df-5b0889d30ed4/dgcokvb-398d9eca-3d1a-465f-ad8e-0d5eef769892.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ4NjJjZWJjLWEyOWUtNDNjOC1hOWRmLTViMDg4OWQzMGVkNFwvZGdjb2t2Yi0zOThkOWVjYS0zZDFhLTQ2NWYtYWQ4ZS0wZDVlZWY3Njk4OTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oFyTC5TKW5le9r04gkuC3ZgcX45QT5ZL8brcGqiVbhQ");
}
.main{
    /* border: solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    gap: 10px;

}

.controlsleft{
    /* border: solid; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 640px;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.flex-wrap{
    display: flex;
    margin-top: 15px;
    /* border: solid; */
    align-items: center;
    justify-content: center;
}

.wrap{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border: solid black;
}

.fwrap{
    padding: 7px 50px;
    border-radius: 30px;
    color: white;
    background-color: rgb(0, 0, 173);
}
.controlsright{
    /* border: solid; */
    margin: 0px auto;
    width: 100%;
    height: 640px;
    /* padding: 10px; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* RESET DIV */

#reset-flexbox{
    width: 100%;
    height: 50px;
}

.reset{
    /* border: solid; */
    padding-top: 30px;
    display: flex;
    /* padding: 10px; */
    flex-wrap: wrap;
    gap: 7px;
    font-size: 15px;
    justify-content: center;
    
}

.buttons{
    background-color: rgb(173, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cells{
    height: 100%;
    width: 100%;
    background-color: rgb(233, 144, 1);
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
}

.aibuttons{
    height: 100%;
    width: 100%;
    background-color: rgb(233, 144, 1);
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
}

.labels{
    /* border: solid; */
    height: 33px;
    width: 47%;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    background-color: rgb(0, 0, 173);
    color: white;
    font-weight: 700;
}

.input{
    height: 30px;
    width: 49%;
    border-radius: 15px;
    text-align: center;
    font-size: 17px;
}

/* FLEX DIRECTION DIV */

.direction{
    /* border: solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}


.property-text{
    width: 100%;
    height: 30px;
    align-content: center;
    color: white;
}

#row{
    width: 46%;
    background-color: rgb(233, 144, 1);
}

.disclaimer{
    text-align: center;
    color: white;
    font-size: 10px;
}

#column{
    width: 46%;
    background-color: rgb(233, 144, 1);
}

/* JUSTIFY CONTENT DIV */

.justify-content{
    height: 300px;
    /* border: solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.property-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* ALIGN-ITEMS DIV */
.align-items{
    /* border: solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}

#start-align, #center-align, #end-align{
    width: 31%;
    background-color: rgb(233, 144, 1);
}



/* FLEX GROW DIV */
.flex-grow{
    /* border: solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#reset-grow{
    width: 47%;
    height: 50px;
}

#all-grow{
    width: 50%;
}

/* SIMULATOR DIV */
#simulator{
    margin: 0px auto;
    background-image: url(https://e0.pxfuel.com/wallpapers/589/558/desktop-wallpaper-demon-slayer-demon-slayer-moon-thumbnail.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 640px;
    width: 500px;
    max-width: 500px;
    min-width: 250px;
    padding: 10px;
    border: solid;
    align-content: center;

}

#sim{
    background-image: url(https://i.pinimg.com/originals/10/5d/8b/105d8bab305bd4b094f84ea0d119ea2c.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 630px;
    width: 490px;
    max-width: 490px;
    min-width: 240px;
    transition: 0.5s ease-in-out;
    border: solid gray 1px;
    margin: 0px auto;
    /* justify-content: flex-start; */
    align-content: flex-start;
}

.box{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    align-content: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    /* overflow: clip; */

}

#one{
    background-image: radial-gradient(rgb(118, 118, 255), rgb(4, 4, 242));
}

#two{
    background-image: radial-gradient(rgb(248, 209, 17), rgb(208, 0, 0));
    
}

#three{
    background-image: radial-gradient(rgb(156, 255, 145),rgb(0, 122, 28));

    
}

.title{
    text-align: center;
    line-height: 85%;
    border: solid;
    font-size: 4rem;
    display: flex;
    padding: 20px;
    background-image: url(https://cdn.dribbble.com/users/6776106/screenshots/15454084/media/c5318ee447facd45a8bad0621ee76a99.png);
    border-radius: 10px;
    margin-top: 25px;
}

.icons{
    width: 100px;
    /* height: 100%; */
}

img{
    width: 70px;
}