@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4862cebc-a29e-43c8-a9df-5b0889d30ed4/dfp3i8h-f55980fe-8e56-4cc9-84fc-614eaca07698.png/v1/fill/w_1192,h_670,q_70,strp/tsuzumi_mansion___demon_slayer_by_mugengamer1_dfp3i8h-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNDg2MmNlYmMtYTI5ZS00M2M4LWE5ZGYtNWIwODg5ZDMwZWQ0XC9kZnAzaThoLWY1NTk4MGZlLThlNTYtNGNjOS04NGZjLTYxNGVhY2EwNzY5OC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.264QqzZlSJV0-q_bospOSPa-VT7P8HE4_hQkAMBvXlQ);
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
}

/* NAVIGATION */

#slayer{
    width: 70px;
}

.navi{
    background-image: url(https://i.pinimg.com/originals/4d/e0/18/4de01818743bd20d4340752f1576c092.png);
    
    color: white;
    height: fit-content;
}

nav .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 70px;
    padding: 10px 20px;
}

.logo{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.menu{
    display:flex;
}

.sum{
    width: 50px;
}

summary{
    display: none;
}

.summa{
    font-size: 0.9rem;
    font-weight: bold;
    list-style: none;
    /* margin-left: 30px; */
    padding: 5px 10px;
    /* background-color: wheat; */
    border-radius: 7px;
}

.summa > a{
    text-decoration: none;
    color: black;
    transition: 0.5s all ease;

}

.summa > a:hover{
    color: rgb(0, 149, 255);
}

.summarized{
    display:flex;
    flex-direction: column;
}

.list{
    font-size: 1.3rem;
    font-weight: bold;
    list-style: none;
    margin-left: 30px;
    padding: 5px 10px;
    background-color: wheat;
    border-radius: 7px;
}

.list > a{
    text-decoration: none;
    color: black;
    transition: 0.5s all ease;

}

.list > a:hover{
    color: rgb(0, 149, 255);
}



#logo{
    text-decoration: none;
    color:white;
}

/* MAIN */

main.container{
    /* border: 1px solid black; */
    margin: 10px 70px;
    height: 700px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5% 40% 25% auto auto;  
    gap: 7px;
}

.cell{
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    place-content: center;
    text-align: center;
    /* background-color: wheat; */
}



.one{
    grid-column: 1/3;
    grid-row: 2/4;

}

.two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-radius: 10px;
    grid-column: 3/4;
    grid-row: 2/4;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx5l5F4XnOBLxnbEew8ftPYc0FeCuez6xqMA903foEDXa1HDVwxxQuLpgUSJOXl4XTeEg&usqp=CAU);
    background-size: cover;
    padding: 10px;
    text-align: justify;
    overflow: auto;
    scrollbar-color: rgb(63, 63, 63) rgb(41, 41, 41);
    scrollbar-width: thin;
}



.four{
    grid-column: 1/2;
}

.five{
    grid-column: 2/3;
}

.six{
    grid-column: 3/4;
}

.main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


/* CELL BAR */

.bar{
    grid-column: 1/4;
    grid-row: 1/2;
    background-image: url(https://cdn.oneesports.gg/cdn-data/2023/06/DemonSlayer_Season3_EndingExplained-1024x576.jpg);   
    border-radius: 7px;
    background-position: center;
    font-weight: 700;
}

/* CELL 2 */

h1{
    font-size: 1.7rem;
    text-align: center;
    font-weight: 400;
    font-family: "Alfa Slab One", serif;
    color: rgb(26, 7, 7);
}

h2{
    font-family: "Alfa Slab One", serif;
    font-weight: 100;

}

.ep{
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
    font-weight: 500;
    background-color: rgb(231, 231, 231);
    
}


/* CELL 3 */

.three{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
    gap: 5px;

}

.news{
    width: 33%;
    border: solid 1px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    text-align: justify;
    gap: 5px;
    border-radius: 5px;
    background-image:url("/backgrounds/brownwithlogo.webp");
    background-position: center;
}

.image{
    margin: 0px auto;
    border: 1px solid black;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 7px;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.nezuko{
    background-color: white;
    padding: 5px;
    font-weight: 900;
    text-align: center;
    border-radius: 5px;
}

.desc{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

/* FOOTER */

.foot{
    /* border: solid; */
    margin-top: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-image: url(https://rare-gallery.com/mocahbig/471814-anime-manga-illustration-fan-art-dark-background.png);
    background-image: center;
    padding: 10px;
}

.gifs{
    /* border: solid; */
    height: 50px;
    display: flex;
}

@media (max-width: 1000px){

    .menu{
        display: none;
    }

    summary{
        display: block;
    }

    .summarized{
        background-color: white;
        border-radius: 5px;
    }

    details[open] summary{
        .sum{
            width:40px;
        }
    }

    .foot{
        margin-top: 275px;
    }

    .one{
        grid-column: 1/4;
        grid-row: 2/3;

    }
    .two{
        grid-column: 1/4;
        grid-row: 3/5;
    }

    .three{
        grid-row: 5/6;
    }

    main.container{
        grid-template-rows: 5% 40% 40% auto auto;  

    }

}




@media (max-width: 700px){

    

    .one{
        grid-column: 1/4;
        grid-row: 2/4;
    }

    .two{
        grid-column: 1/4;
        grid-row: 4/6;
    }

    main.container{
        /* border: 1px solid black; */
        grid-template-rows: 5% 40% 25% 60% auto;  
    }


    .three{
        grid-row: 6/7;
        flex-direction: column;
        align-items: center;
    }

    .news{
        width: 97%;
    }

    .foot{
        margin-top: 1075px;
    }

}
